@model qweMVC.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center">
    <h2>Register</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Incorrect Email or Password")

        <fieldset>
            <div>
                <b>User Name</b>
            </div>
            <div>
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            <div>
                @Html.LabelFor(model => model.Email)
            </div>
            <div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div>
                <b>Password</b>
            </div>
            <div >
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <p>
                <br />
                <input type="submit" class="" value="Confirm">
            </p>
        </fieldset>
    }
</div>
